{% extends 'course/base.html' %}
{% block content %}
    <h1>{{ branch.name }}</h1>
    <p>Адрес: <strong>{{ branch.address }}</strong></p>
    <p>Группы:</p>
    <ul>
        {% for g in groups %}
            <li>{{ g.name }}</li>
        {% endfor %}    
    </ul>
    <p>Dobavil(a): {{ branch.creator}}</p>
    {% if branch.photo %}
    <img src="{{ branch.photo.url }}" alt="" width="300"/>
    {% endif %}

    <a href="{% url 'branch_edit' branch.id %}" class='btn btn-primary'>Изменить</a>

   
{% endblock %}