{% extends 'course/base.html' %}
{% block content %}
    <h1> {{ group.name }}</h1>
    <p>Филиал: <strong>{{ group.Branch }} </strong></p>

    <p>Студенты группы: </p>

    <ul>
        {% for s in students %}
            <li>{{ s.name }}</li>
        {% endfor %}
    </ul>

    <p>Dobavil(a): {{ group.creator}}</p>
    
    {% if group.photo %}
    
    <img src="{{ group.photo.url }}" alt="" width="300"/>
    {% endif %}

    <a href="{% url 'group_edit' group.id %}" class='btn btn-primary'>Изменить</a>
    

{% endblock %}