{% extends 'course/base.html' %}

{% block content %}
    <h1 style="text-align: center;">Группы</h1>
    <a href="{% url 'group_random' %}" class="btn btn-primary">Выбрать рандомную группу</a>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Название</th>
                    <th scope="col">Действие</th>
                    <th scope="col">Удаление</th>
                </tr>
            </thead>
            <tbody>
                {% for group in groups %}
                <tr>
                    <th scope="row">{{ group.id }}</th>
                    <td>{{ group.name }}</td>
                    <td>
                        <a href="{% url 'group_detail' group.id %}" class='btn btn-primary btn-sm'>Подробнее</a>
                    </td>
                    <td>
                        <a href="{% url 'group_delete' group.id %}" class='btn btn-primary btn-sm'>Удалить</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if user.is_authenticated %}
        <h1>Добавить группу</h1>
        <a href="{% url 'group_create'   %}" class='btn btn-primary btn-sm'>Добавить</a>
        {% endif%}
{% endblock %}
