{% extends 'course/base.html' %}
{% block content %}
    <h1 style="text-align: center;">Студенты</h1>
    <a href="{% url 'student_random' %}" class="btn btn-primary">Выбрать рандомного студента</a>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Номер телефона</th>
                    <th scope="col">Пол</th>
                    <th scope="col">Действие</th>
                    <th scope="col">Удаление</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <th scope="row">{{ student.id }}</th>
                    <td>{{ student.name }}</td>
                    <td>{{ student.phone_number }}</td>
                    <td>{{ student.gender }}</td>
                    <td>
                        <a href="{% url 'student_detail' student.id %}" class='btn btn-primary btn-sm'>Подробнее</a>
                    </td>
                    <td>
                        <a href="{% url 'student_delete' student.id %}" class='btn btn-primary btn-sm'>Удалить</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if user.is_authenticated %}
        <h1>Добавить студента</h1>
        <a href="{% url 'student_create' %}" class='btn btn-primary btn-sm'>Добавить</a>
        {% endif%}
{% endblock %}
