{% extends 'course/base.html' %}
{% block content %}
    {% if student.gender == "male" %}
        <h1 style="color: blue;">{{ student.name }}</h1>
    {% else %}
        <h1 style="color: pink;">{{ student.name }}</h1>
    {% endif %}

    <p>Дата рождения: <strong>{{ student.date_of_birth }} </strong></p>
    <p>Адрес: <strong>{{ student.address }} </strong></p>
    <p>Номер телефона: <strong>{{ student.phone_number }} </strong></p>
    <p>Пол: <strong>{{ student.gender }} </strong></p>
    <p>Группа: <strong>{{ student.group }} </strong></p>

    <p>Dobavil(a): {{ student.creator}}</p>
    
    <p>Курсы: </p>

    <ul>
       
        {%for student in courses %}
        <li>{{ student.name }}</li>
        {% endfor%}
   
        
    </ul>

    {% if student.photo %}
    
    <img src="{{ student.photo.url }}" alt="" width="300"/>
    {% endif %}


    <a href="{% url 'student_edit' student.id %}" class='btn btn-primary'>Изменить</a>

   

{% endblock %}
